.s-best__slider {
	padding: 0 24px;
	margin: 0 -24px;
}

.s-best__more {
    margin-top: 68px;

    @media (max-width: $tablet) {
        // margin-top: 40px;
        margin: 40px auto 0;
    }

    @media (max-width: $mobile-l) {
        // margin-top: 30px;
        // margin: 30px auto 0;
    }
}