@mixin btnLinear() {
    color: $accent;
    background: transparent;
    border: 1px solid $accent;
    backdrop-filter: blur(2px);
}


// Основной шаблон кнопки
.btn {
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $ff-button;
    font-size: 14px;
    font-weight: 700;
    padding: 0 50px;
    border-radius: 50px;
    transition: $tr;
    white-space: nowrap;
    user-select: none;

    @media (max-width: $tablet) {
        height: 48px;
        padding: 0 40px;
    }

    @media (max-width: $mobile-l) {
        height: 44px;
        padding: 0 30px;
    }

    // Кнопка с заливкой
    &.is-fill {
        color: $light;
        background: $accent;
        border: 1px solid transparent;
    
        &:active {
            background: create-rgba($accent, .8);
        }
    
        @media (any-hover: hover) {
            
            &:hover {
                @include btnLinear;
            }
    
            &:active {
                background: create-rgba($accent, .1);
            }
        }
    }

    // Кнопка с обводкой
    &.is-linear {
        @include btnLinear;
    
        &:active {
            background: create-rgba($accent, .05);
        }
    
        @media (any-hover: hover) {
            
            &:hover {
                background: create-rgba($accent, .05);
            }
    
            &:active {
                background: create-rgba($accent, .1);
            }
        }
    }

    // Кнопка с иконкой
    &.has-icon-cart {
        position: relative;
    
        &::after {
            content: '';
            width: 16px;
            height: 16px;
            background-color: $light;
            @include iconMask("data:image/svg+xml,%3Csvg width=\"16\" height=\"16\" viewBox=\"0 0 16 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"%3E%3Cpath fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M0.384669 1.03227C0.226846 1.07573 0.0347439 1.2913 0.00504721 1.4583C-0.0263635 1.63493 0.0923535 1.87684 0.263293 1.98441C0.376728 2.0558 0.414295 2.05919 1.09015 2.05919C1.7128 2.05919 1.80714 2.0662 1.87255 2.11733C1.93572 2.16673 1.97822 2.33542 2.15493 3.23853C2.5207 5.10779 2.61108 5.54867 3.15545 8.11965C3.66698 10.5355 3.69552 10.6534 3.83078 10.9102C3.90847 11.0576 4.03614 11.2486 4.11453 11.3345C4.31093 11.5499 4.71402 11.7976 5.02568 11.8945L5.28627 11.9756H9.29131H13.2963L13.5281 11.8995C14.1367 11.6997 14.6059 11.2766 14.8196 10.7347C14.8603 10.6315 15.145 9.35862 15.4522 7.90604C16.0871 4.90458 16.0822 4.94365 15.876 4.54597C15.7412 4.28598 15.5217 4.08184 15.2438 3.95809L15.0453 3.86972L9.23009 3.86112C6.03177 3.8564 3.41492 3.84381 3.41492 3.83318C3.41492 3.82252 3.32776 3.37789 3.22121 2.84513C3.00865 1.78213 2.95478 1.63101 2.69954 1.38159C2.51451 1.20077 2.27323 1.08044 1.9992 1.03231C1.75387 0.989253 0.541127 0.98922 0.384669 1.03227ZM14.8459 4.95604C14.869 4.97797 14.8879 5.03431 14.8879 5.08122C14.8879 5.2725 13.8024 10.3124 13.7311 10.4523C13.6906 10.5318 13.5924 10.6496 13.5128 10.7143C13.2347 10.9404 13.4258 10.9313 9.20155 10.9214L5.39121 10.9125L5.24944 10.8404C5.06111 10.7447 4.88951 10.5774 4.81238 10.4142C4.76198 10.3077 4.18165 7.60862 3.71773 5.32313L3.63511 4.91618H9.21949C13.5163 4.91618 14.8136 4.92538 14.8459 4.95604ZM5.87328 12.9593C5.63794 13.0452 5.39355 13.2718 5.27816 13.5112C4.94583 14.2006 5.49394 14.9946 6.30334 14.9963C7.0679 14.9979 7.59863 14.269 7.34175 13.5702C7.25818 13.3428 7.02511 13.067 6.68541 12.9468C6.38815 12.8417 6.10543 12.8745 5.87328 12.9593ZM12.3344 12.9202C11.9874 13.0126 11.7775 13.2184 11.6304 13.4871C11.5626 13.6111 11.5487 13.7578 11.548 13.9356C11.5473 14.1189 11.5613 14.2614 11.6322 14.3981C11.8659 14.8491 12.3951 15.0895 12.8895 14.9692C13.3337 14.8611 13.6162 14.6041 13.7202 14.1795C13.8497 13.6515 13.6669 13.1549 13.1346 12.9593C12.8789 12.8653 12.5984 12.8499 12.3344 12.9202Z\" fill=\"white\"/%3E%3C/svg%3E");
            margin-left: 10px;
            transition: $tr;
        }
    
        @media (any-hover: hover) {
            
            &:hover {
                
                &::after {
                    background-color: $accent;
                }
            }
    
        }
    }
}
//========================================================================================================================================================


// Hover-эффект у текстовых ссылок
.link {
    transition: $tr;

    @media (any-hover: hover) {
        
        &:hover {
            color: $accent-second;
        }
    }

    &:active {
        color: brig-color($accent-second, active);
    }
}


// Ссылка со стрелкой
.link-arrow {
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    white-space: nowrap;

    &:active {
        
        & .link-arrow__icon {
            background-color: brig-color($arrow-bg, 1.06);
        }
    } 

    @media (any-hover: hover) {
        
        &:hover {
            
            & .link-arrow__icon {
                background-color: brig-color($arrow-bg, 1.06);
            }
        }

        &:active {
            
            & .link-arrow__icon {
                background-color: $arrow-bg;
            }
        }
    }

    &.is-light {
        color: $light;

        & .link-arrow__icon {
            background: create-rgba($light, .1);

            & svg {
                fill: $light;
                stroke: $light;
            }
        }

        &:active {
            
            & .link-arrow__icon {
                background-color: create-rgba($light, .2);
            }
        }

        @media (any-hover: hover) {
            
            &:hover {
                
                & .link-arrow__icon {
                    background-color: create-rgba($light, .2);
                }
            }

            &:active {
                
                & .link-arrow__icon {
                    background-color: create-rgba($light, .1);
                }
            }
        }
    }

    @media (max-width: $mobile-m) {
        font-size: 10px;
    }
}

.link-arrow__icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $arrow-bg;
    margin-left: 22px;
    transition: $tr;

    & svg {
        width: 30%;
        height: 30%;
        fill: #43515C;
        stroke: #43515C;
    }

    @media (max-width: $tablet) {
        width: 32px;
        height: 32px;
        margin-left: 12px;
    }

    @media (max-width: $mobile-m) {
        width: 24px;
        height: 24px;
        margin-left: 8px;
    }
}
//========================================================================================================================================================
