.select {
    position: relative;
    // width: 100%;
    width: fit-content;
    height: 100%;

    &.is-open {

        & .select-input__chevron {
            // transform: translate(0, -50%) scale(-1, -1);
            transform: scale(-1, -1);
        }

        & .select-dropdown{
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }

    &.is-valid {

        & .select-input__title {
            color: $text-primary;
        }
    }

	&.has-dropdown-left {

		& .select-dropdown {
			right: auto;
			left: 0;
		}
	}

    &_s {

        & .select-input {
            height: 36px;
        }
    }
}

.select-input {
    position: relative;
    width: fit-content;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;

    @media (max-width: $mobile-l) {
        height: 30px;
    }
}

.select-input__title {
    color: $input-placeholder;
	text-align: left;
    pointer-events: none;
}

.select-input__chevron {
    display: block;
    width: 12px;
    height: 12px;
    margin-left: 10px;
    pointer-events: none;
    transition: $tr;
}

.select-dropdown {
    max-height: 200px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    transform: translate(0, 100%);
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,.2);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: $tr;

    @media (max-width: $mobile-l) {
        right: auto;
        left: 0;
    }
}

.select-dropdown__list {
    max-height: 180px;
    padding: 12px 0;
    overflow-y: auto;

    @include scrollbar(4px)
}

.select-dropdown__item {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: inherit;
    font-size: 14px;
    padding: 8px 16px;
    cursor: pointer;
    transition: $tr;
    white-space: nowrap;

    &.is-selected {

        &::after {
            opacity: 1;
            visibility: visible;
        }
    }

    &::after {
        content: '';
        // position: absolute;
        // top: 50%;
        // right: 20px;
        // transform: translate(0, -50%);
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.00002 16.2001L4.80002 12.0001L3.40002 13.4001L9.00002 19.0001L21 7.0001L19.6 5.6001L9.00002 16.2001Z' fill='%236C6C6C'/%3E%3C/svg%3E") no-repeat;
        background-size: contain;
        background-position: center center;
        margin-left: 12px;
        opacity: 0;
        visibility: hidden;
        transition: $tr;
    }

    &:hover {

        @media (any-hover: hover) {
            background: brig-color(#000, .05);
        }
    }

    &:active {
        background: brig-color(#000, .08);
    }
}