.text {
    font-size: 14px;
    font-weight: 300;
    line-height: lhperc(14, 28);

    & h2 {
        font-size: 18px;
        font-weight: 700;
        line-height: lhperc(18, 28);
    }

    & p {
        margin: 24px 0;
    }

    & ul,
    & ol {
        margin: 30px 0;
    }

    & ol {
        counter-reset: olCounter;
        list-style: none;

        & li {
            --size-icon: 44px;
            line-height: 1.6;
            display: flex;

            & span {
                margin: auto 0;
            }

            &::before {
                content: counter(olCounter);
                counter-increment: olCounter;
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: var(--size-icon);
                width: var(--size-icon);
                height: var(--size-icon);
                font-size: 12px;
                font-weight: 700;
                border-radius: 50%;
                background: $frame-main;
                text-align: center;
                margin-right: 20px;

                @media (max-width: $mobile-l) {
                    --size-icon: 36px;
                    margin-right: 12px;
                }
            }

            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }
    }

    & strong,
    & b {
        font-weight: 500;
    }

	& em,
	& i {
		font-style: italic;
	}

	a {
		box-shadow: inset 0 -1px $text-primary;
		transition: $tr;

		&:active {
			color: $accent-second;
			box-shadow: inset 0 -1px transparent;
		}

		@media (any-hover: hover) {

			&:hover {
				color: $accent-second;
				box-shadow: inset 0 -1px transparent;
			}
		}
	}

    & > * {

		&:first-child {
			margin-top: 0;
		}

        &:last-child {
            margin-bottom: 0;
        }
    }
}

// Блок "Alert"
.b-alert {
    display: flex;
    margin: 40px 0;

	&.has-bg {
		position: relative;
		margin-bottom: 120px;

		&::before {
			content: '';
			position: absolute;
			z-index: -1;
			top: 60%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100vw;
			height: 400px;
			background: center/cover no-repeat url("data:image/svg+xml,%3Csvg width=\"1920\" height=\"400\" viewBox=\"0 0 1920 400\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"%3E%3Cpath d=\"M1920 84.2924C1920 84.2924 1788.5 -75.7458 1371 46.9999C953.5 169.746 44.5 122.5 0 92.5001V145.5C237.5 356.5 894.5 247.5 1280.5 247.5C1666.5 247.5 1765.5 236 1920 400V84.2924Z\" fill=\"%23CACACA\" fill-opacity=\"0.1\"/%3E%3C/svg%3E");

			@media (max-width: $tablet) {
				display: none;
			}
		}

		@media (max-width: $tablet) {
			margin-bottom: 60px;
		}
	}
}

.b-alert__icon {
    --size-icon: 58px;
    min-width: var(--size-icon);
    width: var(--size-icon);
    height: var(--size-icon);
    display: flex;
    margin-right: 28px;

    @media (max-width: $tablet) {
        --size-icon: 48px;
        margin-right: 20px;
    }

    @media (max-width: $mobile-l) {
        --size-icon: 36px;
        margin-right: 12px;
    }
}

.b-alert__text {
    color: $text-primary-6;
    line-height: 1.6;
    margin: auto 0;

	& p {
		margin: 0;

		&:not(:last-child) {
			margin-bottom: 24px;
		}
	}
}

// Блок "Map"
.b-map {
    width: 100%;
    height: 232px;
    background: $frame-light;
    border-radius: $radius-l;
    box-shadow: 0px 14px 50px rgba(0, 0, 0, 0.06);
    overflow: hidden;
    margin: 55px 0;

    & iframe {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// Блок "Info"
.b-info {
    display: flex;
    padding: 50px;
    border-radius: $radius-l;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.06);
    overflow: hidden;

    @media (max-width: $tablet) {
        padding: 30px;
    }

    @media (max-width: $mobile-l) {
        padding: 24px 16px;
    }
}

.b-info__icon {
    --size-icon: 24px;
    min-width: var(--size-icon);
    width: var(--size-icon);
    height: var(--size-icon);

    @media (max-width: $mobile-l) {
        --size-icon: 20px;
    }
}

.b-info__text {
    line-height: 1.6;
    margin: auto 0 auto 12px;
}

// Темный блок с изображением (dark with image)
.b-dwi {
	position: relative;
	display: flex;
	color: $light;
	margin: 130px 0 180px;

	a {
		box-shadow: inset 0 -1px $light;
	}

	@media (max-width: $tablet) {
		flex-direction: column;
		margin: 90px 0;
	}
}

.b-dwi__img {
	max-width: 436px;
	width: 40%;
	height: 100%;
	border-radius: $radius-m;
	overflow: hidden;
	aspect-ratio: .8;

	& img {
		object-fit: cover;
	}

	@media (max-width: $tablet) {
		max-width: 436px;
		width: 100%;
		margin: 0 auto;
	}
}

.b-dwi__content {
	max-width: 960px;
	width: 60%;
	margin: auto 0 auto 66px;

	@media (max-width: $laptop) {
		margin-left: 32px;
	}

	@media (max-width: $tablet) {
		width: 100%;
		margin: 32px 0 0 0;
	}
}

.b-dwi__decor {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	min-height: 730px;
	height: 110%;
	width: 100vw;
	z-index: -1;
	top: -56px;
	background: center/cover no-repeat url("data:image/svg+xml,%3Csvg width=\"1920\" height=\"703\" viewBox=\"0 0 1920 703\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"%3E%3Cpath d=\"M0 261.14C485 48.6401 857.5 -79.0003 1292 55.4997C1726.5 190 1920 23.14 1920 23.14V577C1920 577 1860 669.912 1149 698.5C438 727.087 0 600.5 0 600.5V261.14Z\" fill=\"%23313131\"/%3E%3Cpath d=\"M1920 52.5014C1855.46 87.7787 1648.38 178.016 1336.5 93.9999C956 -8.50005 753.596 47.5089 429 143C269.607 189.891 48.1958 306.898 0 332.848\" stroke=\"white\" stroke-opacity=\"0.3\"/%3E%3C/svg%3E");

	@media (max-width: $mobile-l) {
		height: 105%;
	}
}

// Блок с картинкой (with image)
.b-wi {
	display: flex;
	margin: 80px 0;

	&.is-reverse {
		flex-direction: row-reverse;

		& .b-wi__content {
			margin: auto 46px auto 0;

			@media (max-width: $laptop) {
				margin-right: 46px;
			}

			@media (max-width: $tablet) {
				margin: 32px 0 0 0;
			}
		}

		@media (max-width: $tablet) {
			flex-direction: column;
		}
	}

	@media (max-width: $tablet) {
		flex-direction: column;
		margin: 50px 0;
	}
}

.b-wi__content {
	// max-width: 960px;
	width: 65%;
	margin: auto 0 auto 46px;

	@media (max-width: $laptop) {
		margin-left: 32px;
	}

	@media (max-width: $tablet) {
		width: 100%;
		margin: 32px 0 0 0;
	}
}

.b-wi__img {
	max-width: 436px;
	width: 35%;
	height: 100%;
	border-radius: $radius-m;
	overflow: hidden;
	aspect-ratio: .8;

	& img {
		object-fit: cover;
	}

	@media (max-width: $tablet) {
		max-width: 436px;
		width: 100%;
		margin: 0 auto;
	}
}