.blog-main {
	padding-bottom: 156px;

	@media (max-width: $laptop) {
		padding-bottom: 100px;
	}

	@media (max-width: $tablet) {
		padding-bottom: 80px;
	}

	@media (max-width: $mobile-l) {
		padding-bottom: 60px;
	}
}

.blog-main__content {
	display: flex;
	flex-direction: column;
}

.blog-main__socials {
	display: flex;
	align-items: center;
	margin: 6px 0 0 auto;

	@media (max-width: $tablet) {
		margin: 12px 0 0;
	}
}

.blog-main__socials-title {
	color: $text-primary-8;
	margin-right: 16px;
}

.blog {
	position: relative;
	margin-bottom: 100px;

	&.has-sidebar {

		& .sidebar {
			margin-left: 60px;

			@media (max-width: 800px) {
				margin: 0 0 32px 0;
			}
		}
	}

	@media (max-width: $tablet) {
		margin-bottom: 80px;
	}

	@media (max-width: $mobile-l) {
		margin-bottom: 60px;
	}
}

.blog__container {
	display: flex;
	flex-direction: row-reverse;

	@media (max-width: 800px) {
		flex-direction: column;
	}
}

.blog__wrap {
	width: 100%;
}

.blog__header {
	// width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: -8px -22px;

	& > * {
		margin: 8px 22px;
	}

	@media (max-width: $tablet) {
		// flex-wrap: nowrap;
		justify-content: space-between;
	}
}

.blog-search {
	flex: 1 1 auto;
	width: 100%;
	max-width: 454px;
	// width: 40%;
}

.blog-search__tf {
	// width: 394px;
	// max-width: 394px;
}

.blog-search__btn {
	margin-left: 10px;
}

.blog__sort {
	display: flex;
	align-items: center;
	// margin-left: 44px;
}

.blog__list {

	& > .c-post {
		padding: 40px 0;
		border-bottom: 1px solid $border-card;

		@media (max-width: $laptop) {
			padding: 20px 0;
		}
	}
}