.catalog-color-main {

}

.catalog-color-main__container {

    & .s-header {
        margin-bottom: 28px;
    }
}

.catalog-color {
    margin-top: 50px;

    & .s-header {

        @media (min-width: 801px) {
            margin-bottom: 46px;
        }
    }
}