.c-post {
	display: flex;
	align-items: flex-start;

	@media (min-width: 800px) and (max-width: 960px) {
		flex-direction: column;

		& .c-post__img {
			width: 100%;
			max-width: none;
			height: 250px;
			aspect-ratio: auto;
		}

		& .c-post__content {
			width: 100%;
			margin: 16px 0 0 0;
		}
	}

	@media (max-width: 650px) {
		flex-direction: column;

		& .c-post__img {
			width: 100%;
			max-width: none;
			height: 250px;
			aspect-ratio: auto;
		}

		& .c-post__content {
			width: 100%;
			margin: 16px 0 0 0;
		}
	}
}

.c-post__img {
	position: relative;
	max-width: 454px;
	// max-height: 340px;
	width: 40%;
	border-radius: $radius-s;
	overflow: hidden;
    aspect-ratio: 1;
    max-height: 300px;

	& img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.c-post__content {
	width: 60%;
	display: flex;
	flex-direction: column;
	padding: 8px 0 0 0;
	margin-left: 44px;

	@media (max-width: $laptop) {
		margin-left: 24px;
	}
}

.c-post__tools {

}

.c-post__date {
	color: $text-primary-6;
}

.c-post__info {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
    justify-content: center;
    margin: 16px 0 24px 0;
}

.c-post__link {
	text-transform: uppercase;
}

.c-post__title {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.2;
	margin-top: 12px;
}

.c-post__text {
	color: $text-primary-6;
	margin-top: 14px;
}

.link-arrow {

}

.link-arrow__icon {

}