.m-callback__window {
	padding-top: 70px;

	@media (max-width: $mobile-l) {
		padding-top: 60px;
	}
}

// .m-callback__content {
// 	max-width: 410px;
// 	width: 100%;
// 	margin: 0 auto;
// }

.m-callback__header {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 145px;
		height: 145px;
		background: center/contain no-repeat url("data:image/svg+xml,%3Csvg width=\"145\" height=\"145\" viewBox=\"0 0 145 145\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"%3E%3Cpath fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M59.3092 0.827803L58.4814 1.65561V9.1823V16.709H72.2168H85.9521V9.10073C85.9521 1.83232 85.9258 1.45906 85.3651 0.74624L84.7783 0H72.4575H60.137L59.3092 0.827803ZM39.4207 21.8004C38.6892 22.2643 38.0908 22.7599 38.0908 22.9021C38.0908 23.0442 38.6416 23.9072 39.3151 24.8199C45.0508 32.5944 58.5302 38.5397 75.1904 40.6433C84.9609 41.877 99.5272 41.2769 106.702 39.3448L107.786 39.0529L107.603 34.7487C107.21 25.4699 107.047 23.8253 106.436 23.0015C106.123 22.5781 105.444 21.9446 104.93 21.5942L103.993 20.957H72.372H40.7507L39.4207 21.8004ZM37.2395 29.3594C37.2387 29.4888 37.0447 34.8742 36.8085 41.327C36.495 49.8959 36.4638 53.1119 36.6932 53.2535C37.0438 53.4702 43.1573 54.4888 46.8701 54.9493C50.9137 55.4509 59.1934 55.6021 63.828 55.2592C72.2581 54.6353 80.9395 52.8882 87.245 50.5467C90.254 49.4291 96.1129 46.5198 97.2803 45.5637L97.9883 44.9837L96.5723 45.1545C95.7935 45.2488 92.7986 45.4031 89.917 45.4977C69.3683 46.1732 49.6616 40.5332 39.2944 31.0102C38.165 29.9728 37.2404 29.23 37.2395 29.3594ZM106.485 43.822C106.174 43.9007 105.187 44.643 104.292 45.4719C97.6326 51.6373 85.9388 56.3883 72.6065 58.3449C61.9011 59.9162 48.0123 59.7465 38.5355 57.9286C37.3001 57.6919 36.2548 57.5324 36.2126 57.5746C36.0767 57.7106 35.5117 76.8121 35.6397 76.9401C35.8014 77.1018 40.2112 77.7444 44.3213 78.2051C49.3572 78.7698 63.2982 78.6852 68.5352 78.0579C79.5121 76.7438 88.0229 74.5643 94.6711 71.3646C100.37 68.6221 104.369 65.7697 107.254 62.3888L108.655 60.7471L108.488 56.3574C107.997 43.481 108.007 43.6113 107.514 43.6461C107.26 43.6643 106.796 43.7433 106.485 43.822ZM107.151 68.4975C97.6937 76.5674 83.0632 81.3586 63.7207 82.7194C59.1912 83.0383 49.5971 82.9414 45.7373 82.5379L44.1797 82.375L45.3125 83.1136C51.5659 87.1912 63.5853 90.6372 76.6064 92.0863C81.5931 92.6411 96.1775 92.5649 101.104 91.9583C105.523 91.414 109.399 90.7782 109.615 90.5621C109.755 90.4225 108.958 67.3743 108.808 67.2248C108.766 67.1826 108.02 67.7555 107.151 68.4975ZM35.1515 85.4565C35.0574 87.7542 34.9028 91.7366 34.8079 94.3066L34.6357 98.9795L36.5202 100.537C39.0517 102.63 41.1033 103.964 44.3213 105.609C59.2823 113.257 84.7856 116.562 106.523 113.67C108.414 113.418 110.109 113.121 110.29 113.009C110.541 112.854 110.545 110.665 110.307 103.918C110.135 99.0302 109.967 95.0039 109.933 94.9708C109.9 94.9373 108.473 95.1463 106.762 95.4352C94.7326 97.4663 78.6546 97.2378 66.1279 94.8575C54.5902 92.6652 43.7099 88.0343 37.476 82.663C36.5927 81.9021 35.7467 81.2793 35.5964 81.2793C35.4406 81.2793 35.2492 83.0776 35.1515 85.4565ZM34.2775 108.234C34.1716 110.465 34.0625 114.351 34.0348 116.869L33.9844 121.449L34.834 122.356C36.4919 124.126 35.1025 124.043 63.092 124.043H88.678L91.0674 123.227C95.6482 121.663 102.06 118.817 101.736 118.492C101.685 118.441 99.9291 118.518 97.8337 118.663C80.5738 119.853 61.38 117.235 47.7939 111.839C43.2935 110.051 37.1209 106.602 35.077 104.732L34.4701 104.177L34.2775 108.234ZM110.229 117.741C109.347 118.718 105.431 121.406 102.943 122.742L100.537 124.034L103.874 124.038C107.595 124.044 108.547 123.78 109.865 122.379C110.541 121.66 110.719 121.187 110.816 119.845C110.881 118.938 110.889 117.968 110.834 117.69C110.739 117.216 110.7 117.22 110.229 117.741ZM58.4814 135.95V143.61L59.1767 144.305L59.8717 145H72.325H84.7783L85.3651 144.254C85.9258 143.541 85.9521 143.168 85.9521 135.899V128.291H72.2168H58.4814V135.95Z\" fill=\"%232C2D2E\" fill-opacity=\"0.04\"/%3E%3C/svg%3E");

		@media (max-width: $mobile-l) {
			width: 100px;
			height: 100px;
		}
	}
}

.m-callback__title {

}

.m-callback__text {
	color: $text-primary-6;
	margin-top: 20px;

	@media (max-width: $mobile-l) {
		margin-top: 12px;
	}
}

.m-callback__form {
	margin-top: 58px;

	& > .tf {
		margin-bottom: 28px;

		@media (max-width: $tablet) {
			margin-bottom: 16px;
		}
	}

	@media (max-width: $mobile-l) {
		margin-top: 32px;
	}
}

.m-callback__send {
	width: 100%;
	margin-top: 38px;
}

.m-callback__correct {
	font-size: 12px;
	color: $text-primary-6;
	line-height: 1.4;
	margin-top: 32px;

	& a {
		color: $accent-second;
		box-shadow: inset 0 -1px $accent-second;
	}

	@media (max-width: $mobile-l) {
		margin-top: 24px;
	}
}