@use "sass:math";

// Миксины
@import "./mixins";

// Шрифты
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Ubuntu:wght@300;400;500;700&display=swap');


// Переменные
// Текст
$text-primary: #2C2D2E;
$text-primary-8: create-rgba($text-primary, .8);
$text-primary-6: create-rgba($text-primary, .6);
$text-primary-4: create-rgba($text-primary, .4);
$light: #fff;
$accent: $text-primary;
$accent-second: #FDAC19;
$accent-second-hover: brig-color($accent-second, active);

// Задний фон разделов
$frame-main: #fafafa;
// $frame-main: #fff;
$frame-dark: #313131;
$frame-light: #F5F5F5;

// Инпуты и кнопки
$arrow-bg: #F2F2F2;
$border-line: #999999;
$border-card: #F2F2F2;
$input-placeholder: #808182;

// Радиусы
$radius-s: 8px;
$radius-m: 14px;
$radius-l: 20px;

// Тени
$shadow-card: 0px 8px 20px rgba(0, 0, 0, 0.1);
$shadow-active-yarn: 0px 10px 20px rgba(0, 0, 0, 0.12);

$error: #EB5757;
// ================ Colors End ================


// ================ Responsive Start ================
$min-width: 320px;
$max-width: 1920px;
$max-width-container: 1480;
$container-padding: 24;
$container-width: $max-width-container + $container-padding * 2;

$laptop-l: 1500px;
$laptop: 1100px;
$tablet: 800px;
$mobile-l: 450px;
$mobile-m: 390px;
$mobile-s: 330px;
$hide-menu: $laptop;
// ================ Responsive End ================


// ================ Other Start ================
$ff-main: 'Ubuntu', sans-serif;
$ff-button: 'Lato', sans-serif;
$tr: .3s;
// ================ Other End ================
//========================================================================================================================================================

// Сброс CSS
@import "./reset";

body {
    background: $light;
    overflow-x: hidden;

    ._lock & {
        overflow: hidden;
		touch-action: none;
    }
}

/*
(i) Стили будут применяться ко
всем классам содержащим *__container
Например header__container, main__container и т.д.
*/
[class*="__container"] {
    @if ($max-width-container>0) {
        max-width: rem($max-width-container);
        box-sizing: content-box;
        margin: 0 auto;
    }
    @if ($container-padding>0) {
        padding: 0 rem($container-padding);
    }

    @media (max-width: $mobile-l) {
        padding: 0 rem(16);
    }
}

// Анимации
@import './animation';

// Библиотеки
@import "./libs/swiper";

// Общие стили проекта
@import "./common";

// Базовые стили, шаблоны, заготовки
@import "./base";

// Компоненты
@import "./components/page";
@import "./components/breadcrumbs";
@import "./components/banner";
@import "./components/pagin";

// Карточки
@import "./components/cards/c-cat";
@import "./components/cards/c-product";
@import "./components/cards/c-advant";
@import "./components/cards/c-news";
@import "./components/cards/c-event";
@import "./components/cards/c-post";

// Модальные окна
@import "./components/modals/callback";
@import "./components/modals/success";
@import "./components/modals/search";

// Стили частоиспользуемых секций
@import "./sections/header";
@import "./sections/main";
@import "./sections/s-best";
@import "./sections/s-cat";
@import "./sections/s-about";
@import "./sections/s-news";
@import "./sections/footer";

@import "./sections/sidebar";
@import "./sections/s-events";


// Стили для отдельных страниц
@import "./pages/catalog";
@import "./pages/catalog-color";
@import "./pages/deliv";
@import "./pages/contacts";
@import "./pages/pnf";
@import "./pages/about";
@import "./pages/production";
@import "./pages/support";
@import "./pages/blog";
@import "./pages/post";
@import "./pages/product";